@model KN_Order_Storage.ct_client

@{
    ViewBag.Title = "删除客户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除</h2>

<h3>确定要删除这条记录？</h3>
<div>
    @*<h4>客户</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ct_client_source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_client_source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_create_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_client_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_client_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_client_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_client_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_client_qq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_client_qq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_wedding_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_wedding_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_reach_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_reach_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_express)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_express)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_freight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_freight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_remark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
