@model KN_Order_Storage.ct_client
@using KN_Order_Storage.Common

@{
	ViewBag.Title = "客户详情";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>客户信息</h2>

<div>
	@*<h4>客户</h4>*@
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ct_client_source)
		</dt>

		<dd>
			@switch (Model.ct_client_source.Trim())
			{
				case "1":
					<div>百度</div>
					break;
				case "2":
				<div>大众</div>
					break;
				case "3":
				<div>19楼</div>
					break;
				case "4":
				<div>Wed114</div>
					break;
				case "O":
				@Html.DisplayFor(model => model.ct_client_source_cst)
					break;
				default:
					break;
			}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_client_name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_client_name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.us_user_name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.us_user_name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_create_time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_create_time)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_status)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_status)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_client_tel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_client_tel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_client_qq)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_client_qq)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_wedding_day)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_wedding_day)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_reach_status)
		</dt>

		<dd>
			@switch (Model.ct_reach_status.Trim())
			{
				case WebConstants.ClientReachStatusN:
					<div>未到店</div>
					break;
				case WebConstants.ClientReachStatusR:
				<div>已到店</div>
					break;
				default:
					break;
			}     
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_order_status)
		</dt>

		<dd>
			@switch (Model.ct_order_status.Trim())
			{
				case WebConstants.ClientOrderStatusN:
					<div>未下单</div>
					break;
				case WebConstants.ClientOrderStatusO:
				<div>已下单</div>
					break;
				case WebConstants.ClientOrderStatusD:
				<div>已结单</div>
					break;
				default:
					break;
			}
		</dd>

		@*<dt>
			@Html.DisplayNameFor(model => model.ct_express)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_express)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_freight)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_freight)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ct_address)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_address)
		</dd>*@

		<dt>
			@Html.DisplayNameFor(model => model.ct_remark)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ct_remark)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("编辑", "Edit", new { id = Model.ct_client_id }) |
	@Html.ActionLink("返回列表", "Index")
</p>
