@model KN_Order_Storage.ct_client
@using KN_Order_Storage.Common

@{
    ViewBag.Title = "编辑客户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>编辑客户信息</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>客户</h4>*@
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ct_client_id)

        <div class="form-group">
            @Html.LabelFor(model => model.ct_client_source, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ct_client_source, (List<SelectListItem>)ViewBag.Source, new { @class = "btn btn-default dropdown-toggle col-md-2" })
                @Html.ValidationMessageFor(model => model.ct_client_source)
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.us_user_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.us_user_name)
                @Html.ValidationMessageFor(model => model.us_user_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_client_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_client_name)
                @Html.ValidationMessageFor(model => model.ct_client_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_create_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_create_time)
                @Html.ValidationMessageFor(model => model.ct_create_time)
            </div>
        </div>    

        <div class="form-group hide">
            @Html.LabelFor(model => model.ct_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_status)
                @Html.ValidationMessageFor(model => model.ct_status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_client_tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_client_tel)
                @Html.ValidationMessageFor(model => model.ct_client_tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_client_qq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_client_qq)
                @Html.ValidationMessageFor(model => model.ct_client_qq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_wedding_day, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_wedding_day)
                @Html.ValidationMessageFor(model => model.ct_wedding_day)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_reach_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ct_reach_status, new List<SelectListItem> {
                        new SelectListItem(){Text = "未到店", Value = WebConstants.ClientReachStatusN}
                        , new SelectListItem(){Text = "已到店", Value = WebConstants.ClientReachStatusR}
                    }, new { @class = "btn btn-default dropdown-toggle col-md-2" })
                
                @Html.ValidationMessageFor(model => model.ct_reach_status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_order_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ct_order_status, new List<SelectListItem> {
                        new SelectListItem(){Text = "未下单", Value = WebConstants.ClientOrderStatusN}
                        , new SelectListItem(){Text = "已下单", Value = WebConstants.ClientOrderStatusO}
                        , new SelectListItem(){Text = "已结单", Value = WebConstants.ClientOrderStatusD}
                    }, new { @class = "btn btn-default dropdown-toggle col-md-2" })
                @Html.ValidationMessageFor(model => model.ct_order_status)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ct_express, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_express)
                @Html.ValidationMessageFor(model => model.ct_express)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_freight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_freight)
                @Html.ValidationMessageFor(model => model.ct_freight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ct_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ct_address)
                @Html.ValidationMessageFor(model => model.ct_address)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ct_remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ct_remark)
                @Html.ValidationMessageFor(model => model.ct_remark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
