@model IEnumerable<KN_Order_Storage.ct_client>
@using KN_Order_Storage.Common

@{
    ViewBag.Title = "客户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>客户管理</h2>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">                
                @Html.DropDownList("source", (List<SelectListItem>)ViewBag.Source, 
                        new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                @Html.DropDownList("reachstatus", new List<SelectListItem> {
                        new SelectListItem(){Text = WebConstants.cSearchAll, Value = WebConstants.cSearchAll}
                        , new SelectListItem(){Text = WebConstants.cClientReachStatusN, Value = WebConstants.cClientReachStatusN}
                        , new SelectListItem(){Text = WebConstants.cClientReachStatusR, Value = WebConstants.cClientReachStatusR}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                @Html.DropDownList("orderstatus", new List<SelectListItem> {
                        new SelectListItem(){Text = WebConstants.cSearchAll, Value = WebConstants.cSearchAll}
                        , new SelectListItem(){Text = WebConstants.cClientOrderStatusN, Value = WebConstants.cClientOrderStatusN}
                        , new SelectListItem(){Text = WebConstants.cClientOrderStatusO, Value = WebConstants.cClientOrderStatusO}
                        , new SelectListItem(){Text = WebConstants.cClientOrderStatusD, Value = WebConstants.cClientOrderStatusD}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                <label class="control-label">&nbsp;&nbsp;婚期</label>
                <input name="dp1" class="form-control" style="width: 10%" id="dp1">
                <label class="control-label">至</label>
                <input name="dp2" class="form-control" style="width: 10%" id="dp2">
                &nbsp;&nbsp;
                @Html.DropDownList("criteria", new List<SelectListItem> {
                        new SelectListItem(){Text = "姓名", Value = "name"}
                        , new SelectListItem(){Text = "电话", Value = "tel"}
                        , new SelectListItem(){Text = "QQ", Value = "qq"}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 8%" })
                <input name="term" type="text" class="form-control" style="width: 15%" placeholder="输入查询条件">
                <button type="submit" class="btn btn-default">查询</button>
                <div class="pull-right" style="height: 34px; padding: 6px 12px; vertical-align: middle; ">
                    @Html.ActionLink("新增客户", "Create")
                </div>
            </div>
        </form>
    </div>
</nav>
<script> 
    $('#dp1').datepicker({
        format: 'yyyy-mm-dd'
    });
    $('#dp2').datepicker();  
</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_source)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.us_user_name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_create_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ct_status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_client_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_qq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_wedding_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_reach_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_order_status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ct_express)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_address)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ct_client_source.Trim() != WebConstants.cSearchOther)
            {
                @Html.DisplayFor(modelItem => item.ct_client_source)
            } 
            else
            {
                @Html.DisplayFor(modelItem => item.ct_client_source_cst)
            }         
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.us_user_name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ct_create_time)
        </td>
        <td>
            @Html.ActionLink(item.ct_client_name, "Details", new { id = item.ct_client_id })
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ct_status)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ct_client_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_client_qq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_wedding_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_reach_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_order_status)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ct_express)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_address)
        </td>*@
        <td>
            @if (!item.ct_remark.IsEmpty())
            {
                if (item.ct_remark.Length > 10)
                {
                    <div title="@item.ct_remark">
                       @item.ct_remark.Substring(0, 10)..
                    </div>
                }
                else
                {
                    <div>@item.ct_remark</div>
                }
            }
        </td>
        <td>
            @*@Html.ActionLink("查看", "Details", new { id = item.ct_client_id }) |*@
            @Html.ActionLink("编辑", "Edit", new { id=item.ct_client_id }) |          
            @Html.ActionLink("删除", "Delete", new { id=item.ct_client_id })
        </td>
    </tr>
}

</table>

