@model IEnumerable<KN_Order_Storage.ct_client>
@using KN_Order_Storage.Common

@{
    ViewBag.Title = "客户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>客户管理</h2><p>@Html.ActionLink("新增客户", "Create")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_source)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.us_user_name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_create_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ct_status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_client_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client_qq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_wedding_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_reach_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_order_status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ct_express)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_address)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @switch (item.ct_client_source.Trim())
            {
                case "1": 
                    <div>百度</div>
                    break;
                case "2":
                    <div>大众</div>
                    break;
                case "3":
                    <div>19楼</div>
                    break;
                case "4":
                    <div>Wed114</div>
                    break;
                case "O":
                    @Html.DisplayFor(modelItem => item.ct_client_source_cst)
                    break;
                default:
                    break;
            }          
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.us_user_name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ct_create_time)
        </td>
        <td>
            @Html.ActionLink(item.ct_client_name, "Details", new { id = item.ct_client_id })
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ct_status)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ct_client_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_client_qq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_wedding_day)
        </td>
        <td>
            @switch (item.ct_reach_status.Trim())
            {
                case WebConstants.ClientReachStatusN:
                    <div>未到店</div>
                    break;
                case WebConstants.ClientReachStatusR:
                    <div>已到店</div>
                    break;
                default:
                    break;
            }        
        </td>
        <td>
            @switch (item.ct_order_status.Trim())
            {
                case WebConstants.ClientOrderStatusN:
                    <div>未下单</div>
                    break;
                case WebConstants.ClientOrderStatusO:
                    <div>已下单</div>
                    break;
                case WebConstants.ClientOrderStatusD:
                    <div>已结单</div>
                    break;   
                default:
                    break;
            }        
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ct_express)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_address)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ct_remark)
        </td>
        <td>
            @*@Html.ActionLink("查看", "Details", new { id = item.ct_client_id }) |*@
            @Html.ActionLink("编辑", "Edit", new { id=item.ct_client_id }) |          
            @Html.ActionLink("删除", "Delete", new { id=item.ct_client_id })
        </td>
    </tr>
}

</table>
