@model KN_Order_Storage.or_order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>or_order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.or_order_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_order_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_order_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_order_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_delivered_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_delivered_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_style_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_style_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_style_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_style_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_handled_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_handled_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_shoulder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_shoulder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_chest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_chest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_waist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_waist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_buttocks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_buttocks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_stature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_stature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_s_shoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_s_shoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.or_order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.or_order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ct_client.ct_client_source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ct_client.ct_client_source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_inventory.in_inventory_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_inventory.in_inventory_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.or_order_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
