@model IEnumerable<KN_Order_Storage.or_order>
@using KN_Order_Storage.Common

@{
    ViewBag.Title = "订单信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>订单管理</h2>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                @Html.DropDownList("ordertype", new List<SelectListItem> {
                        new SelectListItem(){Text = WebConstants.cSearchAll, Value = WebConstants.cSearchAll}
                        , new SelectListItem(){Text = WebConstants.cOrderTypeCST, Value = WebConstants.cOrderTypeCST}
                        , new SelectListItem(){Text = WebConstants.cOrderTypeSpot, Value = WebConstants.cOrderTypeSpot}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                @Html.DropDownList("orderstatus", new List<SelectListItem> {
                        new SelectListItem(){Text = WebConstants.cSearchAll, Value = WebConstants.cSearchAll}
                        , new SelectListItem(){Text = WebConstants.cOrderStatusO, Value = WebConstants.cOrderStatusO}
                        , new SelectListItem(){Text = WebConstants.cOrderStatusR, Value = WebConstants.cOrderStatusR}
                        , new SelectListItem(){Text = WebConstants.cOrderStatusG, Value = WebConstants.cOrderStatusG}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                @Html.DropDownList("orderhandle", new List<SelectListItem> {
                        new SelectListItem(){Text = WebConstants.cSearchAll, Value = WebConstants.cSearchAll}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 10%" })
                <label class="control-label">&nbsp;&nbsp;下单时间</label>
                <input name="dp1" class="form-control" style="width: 10%" id="dp1">
                <label class="control-label">至</label>
                <input name="dp2" class="form-control" style="width: 10%" id="dp2">
                &nbsp;&nbsp;
                @Html.DropDownList("criteria", new List<SelectListItem> {
                        new SelectListItem(){Text = "货号", Value = "sno"}
                        , new SelectListItem(){Text = "单号", Value = "bill"}
                        , new SelectListItem(){Text = "姓名", Value = "name"}
                        , new SelectListItem(){Text = "电话", Value = "tel"}
                    }, new { @class = "form-control btn btn-default dropdown-toggle", @style = "width: 8%" })
                <input name="term" type="text" class="form-control" style="width: 15%" placeholder="输入查询条件">
                <button type="submit" class="btn btn-default">查询</button>
                <div class="pull-right" style="height: 34px; padding: 6px 12px; vertical-align: middle; ">
                    @Html.ActionLink("新增订单", "Create")
                </div>
            </div>
        </form>
    </div>
</nav>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.or_order_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_order_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_order_status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.or_status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ct_client.ct_client_source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client.ct_client_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ct_client.ct_client_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_from)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.or_delivered_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_style_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_style_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_handled_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_amount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.or_s_shoulder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_chest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_waist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_buttocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_stature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_s_shoes)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.or_remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.or_order_no)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.or_order_type)
        </td>
        <td>
            @Html.ActionLink(item.or_order_time.ToString(), "Details", new { id = item.or_order_id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_order_status)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.or_status)
        </td>*@
        <td>
            @if (item.ct_client.ct_client_source.Trim() != WebConstants.cSearchOther)
            {
                @Html.DisplayFor(modelItem => item.ct_client.ct_client_source)
            }
            else
            {
                @Html.DisplayFor(modelItem => item.ct_client.ct_client_source_cst)
            }      
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_client.ct_client_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ct_client.ct_client_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_delivered_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_style_id)
        </td>
        <td>
            @if (!item.or_style_name.IsEmpty())
            {
                if (item.or_style_name.Length > 10)
                {
                    <div title="@item.or_style_name">
                        @item.or_style_name.Substring(0, 10)..
                    </div>
                }
                else
                {
                    <div>@item.or_style_name</div>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_handled_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_amount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.or_s_shoulder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_chest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_waist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_buttocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_stature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_s_shoes)
        </td>*@
        <td>
            @if (!item.or_remark.IsEmpty())
            {
                if (item.or_remark.Length > 10)
                {
                    <div title="@item.or_remark">
                        @item.or_remark.Substring(0, 10)..
                    </div>
                }
                else
                {
                    <div>@item.or_remark</div>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.or_order_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.or_order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.or_order_id })
        </td>
    </tr>
}

</table>
